  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.parent{
  display: grid;
  grid-template-areas: "head head"
                       "hero hero"
                       "menu body"
                       "foot foot";

  grid-template-rows: 120px 700px 1fr 100px;
  grid-template-columns: minmax(150px, 300px) minmax(400px, auto);
  height:fit-content;
  color: rgb(183, 183, 183);
  font-family: "Roboto Mono";
  background-color: black;
}

header {
  grid-area: head;
  display: flex;
  align-items: center;
  background: rgb(43, 43, 43);
  font-family: "League Gothic", sans-serif;
  font-size: 6rem;
  padding-left: 5%;
  text-align: left;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-icon {
  height: 4.5rem;
  object-fit: contain;
}

.hero {
  grid-area: hero;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
  filter: grayscale(60%);
}

.hero-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 80%),
              linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0) 100%);
}

.info-hero {
  position: relative;
  margin-right: auto;
  padding-left: 30%;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 65px;
  line-height: 1;
}

.info-hero p {
  margin: 0 0 5px 0;
}

aside {
  grid-area: menu;
  background: rgb(0, 0, 0);
}
.titulo-seccion {
  display: flex;
  align-items: center;
  gap: 2px;

}
.section-icon {
  height: 2rem;
  object-fit: contain;
}
h1{
  font-size: 3rem;
  margin: 0;
}

.seccion-principal {
  display: grid;
  grid-area: body;
  background: rgb(0, 0, 0);
  display: grid;
  gap: 20px;
  padding: 20px;
  margin-top: 6rem;
}

.mis-libros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  gap: 20px;
}

.caratula img {
  width: 100%;
  height: 250px;
  padding: 5px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1), 0.5s;

}

.caratula img:hover {
  width: 110%;
  height: 300px;
}

footer {
  grid-area: foot;
  background: #333;
}





